.text-password {
  border-radius: 2px;
  border: solid 1px rgba(black, 0.6);
  border-radius: 4px;
  background-color: #fff;
  height: 40px;
  width:240px;
  margin:5px 10px 0 10px ;
}

.text-password--error {
  border: solid 1px red;
}

.span--error {
  color: red;
  display: block;
}

.show {
  visibility: visible;
}
