@import '../../styles/variables';

.main-content {
  background-color: $content-background;
  width:400px;
  margin:10px ;
}

.form-row {
  width:250px;
  margin:10px ;
  text-align: left;
}

.label-text{
  margin:10px 10px 2px 10px;
  display:block;
}


