
.mainContent {
  background-color: #fff;
  width:400px;
  margin:10px ;
}

.textInput {
  background-color: #fff;
  width:250px;
  margin:10px ;
  text-align: left;

}

.password {
  background-color: #fff;
  width:250px;
  margin:10px ;
  text-align: left;
}

.label-text{
  margin:10px 10px 2px 10px;
}


